<!DOCTYPE html>

<html>

<head>
    <title>Village Mouse</title>

    <base href="/" />

    <!-- AngularJS and JQuery -->
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/masonry.pkgd.min.js"></script>

    <!-- Google maps -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD-QOkuvFFLAtQwf9qlPnYMCaRLWFu2bo">
    </script>
    <script src="lib/ng-map.no-dependency.js"></script>

    <!-- Bootstrap -->
    <script src="lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- The app -->
    <script src="js/mouse.js"></script>
    <link rel="stylesheet" href="css/mouse.css">
</head>

<body ng-app="mouse" ng-controller="main">
    <div class="logoHeader">
        <div class="container">
            <div class="row">
                <a href="/">
                    <div class="col-md-1">
                        <img src="/img/logo.jpg" class="logo" align="left">
                    </div>
                </a>

                <div class="col-md-7">
                </div>
                <div class="col-md-4">
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search the hottest events" ng-model="searchString">
                        <span class="input-group-btn" ng-click="search(searchString)">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="bs-docs-nav navbar navbar-static-top navLinks" id="top">
        <div class="container">
            <nav class="navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav navLinks">
                    <li> <a href="/hottest_city/">Hottest City</a> </li>
                    <li> <a href="/hottest_season/">Hottest Season</a> </li>
                    <li> <a href="/most_popular_owners/">Most Popular Owners</a> </li>
                    <li> <a href="/categories_of_most_commented_events/">Categories of Most Commented Events</a> </li>
                    <li> <a href="/most_sentimental_owners/">Most Sentimental Owners</a> </li>
                    <li> <a href="/top_places_of_top_category/">Top Places of Top Category</a> </li>
                    <li> <a href="/best_streets_USA_UK/">Best Streets in USA and UK</a> </li>
                    <li> <a href="/count_events_by_city/">Count Events by City</a> </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div ng-view></div>
    </div>

    <br>
    
    <div class="container">
        <b>Message To The World:</b> "{{message.message}}" ({{message.fullname}}, {{message.country}}, {{message.city}}, {{message.post_time}}).
        <br><br>
        <form class="form-inline">
                <input type="text" placeholder="What do you have to say?" class="form-control" id="newMsg" ng-model="data.message" oninvalid="this.setCustomValidity('Message should be filled.')" required>
                <input type="text" placeholder="What is your name?" class="form-control" id="data.fullname" ng-model="fullname" oninvalid="this.setCustomValidity('Name should be filled.')" required>
            <select name="repeatSelect" id="repeatSelect" ng-model="data.city" class="form-control" required>
                <option ng-repeat="city in cities" value="{{city.city_id}}">{{city.country}}, {{city.city}}</option>
            </select>
            <button type="submit" class="btn btn-default" ng-click="sendMsg(data)">Add Message</button>
        </form>
    </div>
</body>

</html>